openai
liquidai

python-dotenv
python-dateutil

setuptools

PyOpenSSL
cryptography

markupsafe
markdown
mistune

pyautogen

pypdf
pymupdf

pydantic

langchain
langchain-core
langchain-community
langchain-experimental
langchain-cli
langchain-mongodb
langchain-openai

langchain-chroma
langchain-pinecone

langserve[all]

jq

unstructured
python-magic

python-pptx
python-docx
openpyxl
mammoth
docxtpl 
htmldocx 
docx2md
pypandoc_binary

gunicorn

sqlalchemy

pymongo

httpie
pathtools
requests
urllib3

watchdog
tasks

cython

pandas
numpy

torch

faiss-cpu

crewai

langsmith
langgraph

semantic-kernel

# huggingface
datasets
fastapi
uvicorn[standard]
sentence_transformers

langchain-huggingface 
text-generation 
transformers 
google-search-results 
numexpr 
langchainhub 
sentencepiece 
jinja2 
bitsandbytes 
accelerate

pi-heif
unstructured-inference
pytesseract
pdfminer.six

