openai >= 1.52.0
liquidai >= 1.0.1

python-dotenv
python-dateutil

setuptools

pydantic >= 2.9.2

langchain >= 0.3.3
langchain-core >= 0.3.12
langchain-experimental >= 0.3.2
langchain-cli >= 0.0.31
langchain-mongodb >= 0.2.0
langchain-openai >= 0.2.2

langserve[all] >= 0.3.0

jq >= 1.8.0

unstructured
python-magic

python-pptx
python-docx
openpyxl
mammoth
docxtpl 
htmldocx 
docx2md
pypandoc_binary

httpie
pathtools
requests
urllib3

watchdog
tasks

cython

pandas >= 2.2.3
# numpy >= 2.1.2

langsmith >= 0.1.136
langgraph >= 0.2.38

semantic-kernel >= 1.11.0

# huggingface
datasets
fastapi
uvicorn[standard]
sentence_transformers >= 3.2.0

huggingface-hub >= 0.26.0
huggingface >= 0.0.1
langchain-huggingface >= 0.1.0
text-generation 
transformers 
google-search-results 
numexpr 
langchainhub 
sentencepiece 
jinja2 
bitsandbytes >= 0.44.1
accelerate >= 1.0.1

pdfminer.six

fastai >= 2.7.17
torch == 2.4.0
torchaudio == 2.4.0
torchvision == 0.19.0

faiss-cpu >= 1.9.0

# crewai >= 0.70.1

pi-heif >= 0.20.0


